:root {
  --bg-color: gray;
  --header-color: black;
}

* {
  user-select: none;
  outline: none;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
}

#header {
  overflow: hidden;
  background-color: var(--header-color);
  padding: 1% 10px;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  z-index: 10;
  zoom: 1.3;
  overflow: hidden;
}

#header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  height: 23px;
  max-height: 23px;
  min-height: 23px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  color: white;
  margin-right: 20px;
  transition: 0.5s;
  transition: 0.5s;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#header a:hover {
  transition: 0.5s;
  background-color: rgba(128, 128, 128, 0.363);
  border-top-right-radius: 50%;
}

#header-right {
  float: right;
}

img#logo {
  background-color: white;
  image-rendering: pixelated;
  height: 50px;
}
